body {
    font-family: 'Roboto', sans-serif;
    color: #4D5B65;
}

#header {
    background-color:#06A893;
    left:0;
    top:0;
    display:flex;
    align-items:center;
}

.h1text {
    color:#000000;
}

.navtext {
    color:#000000;
}

.li {
    display:inline-block;
    vertical-align:top;
}

#navigation {
    width:73%;
    padding:1%;
}

.logo {
    width:23%;
    padding:1%;
    left:50px;
}

.ul {
    width:50%;
    margin-left:auto;
}

#heroImg {
    height:600px;
    padding:25px;
}

#heroImg2002 {
    height:450px;
    width:600px;
}

.content {
    width:500px;
    margin:0 auto;
}


.button {
    text-align:center;
    align-items:center;
    mix-blend-mode: normal;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#home_resume {
    background-color:#2298ff;
    font-weight:bold;
    font-size:20px;
    position: absolute;
    left: 50px;
    height:50px;
    width:250px;
}

#home_learnmore {
    background-color:#FFF;
    color: #2298ff;
    font-size:20px;
    font-weight:bold;
    border: 3px solid #2298ff;
    position: absolute;
    left: 400px;
    height:50px;
    width:250px;

}

#footer {
    background-color:#2298ff;
}
.footer {
    padding:10x;
    display:inline-block;
    vertical-align:top;
    padding-bottom:20px;
    height:300px;
    left:-1px;
    bottom:0px;
}


.social_media_icons {
    height:45px;
}
